/node_modules
/out
/cljs-test-runner-out
.cpcache
*.jar
*.class
.hgignore
.hg/
target/*
/package-lock.json
/.clj-kondo/.cache
/.eastwood
/scanning_results
pom.xml
/.nrepl-port
.shadow-cljs
.cljs_node_repl
test/nodejs/*
test/browser/*
