{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.866"}
        com.fluree/alphabase {:mvn/version "3.2.1"}
        org.bouncycastle/bcprov-jdk15on {:mvn/version "1.69"}
        com.lambdaworks/scrypt {:mvn/version "1.4.0"}}

 :paths ["src" "resources"]
 :aliases
 {:cljstest
  {:extra-paths ["test"]
   ;; Stop using git checkout of cljs-test-runner once this PR is merged:
   ;; https://github.com/Olical/cljs-test-runner/issues/36
   ;; - WSM 2020/7/6
   :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                ;{:git/url "https://github.com/Olical/cljs-test-runner.git"
                ; :sha "7daff9a9a62cb8824bfccfb6ef7a429ecbac3e5c"}}
   :main-opts ["-m" "cljs-test-runner.main"
               "-D" "doo.edn"
               "-c" "test-build.edn"
               "-x" "chrome-headless"]}

  :cljtest
  {:extra-paths ["test"]
   :extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "f597341b6ca7bb4cf027e0a34a6710ca9cb969da"}}
   :main-opts ["-m" "cognitect.test-runner"]}

  :js-deps
  {:extra-deps {com.timetraveltoaster/target-bundle-libs {:mvn/version "RELEASE"}}
   :main-opts ["-m" "target-bundle-libs.core"]}

  :jar
  {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.267"}}
   :main-opts ["-m" "hf.depstar.jar" "target/fluree-crypto.jar"]}

  :install
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "install"
               "target/fluree-crypto.jar"]}

  :deploy
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
               "target/fluree-crypto.jar"]}

  :coverage
  {:extra-paths ["test"]
   :extra-deps  {cloverage/cloverage {:mvn/version "1.2.2"}}
   :main-opts   ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--output" "scanning_results/coverage"]}

  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
   :main-opts ["-m" "eastwood.lint" {:source-paths ["src"] :out "scanning_results/eastwood.out"}]}

  :ancient
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.06.18"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src" "--config" ".clj-kondo/config.edn"]}}}
