{:deps  {org.clojure/clojure             {:mvn/version "1.11.1"}
         org.clojure/clojurescript       {:mvn/version "1.11.132"}
         com.fluree/alphabase            {:mvn/version "3.3.0"}
         org.bouncycastle/bcprov-jdk15on {:mvn/version "1.70"}
         com.lambdaworks/scrypt          {:mvn/version "1.4.0"}}

 :paths ["src" "resources"]
 :aliases
 {:build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.6"
                                               :git/sha "8e78bcc"}
                slipset/deps-deploy           {:mvn/version "0.2.2"}}
   :ns-default build}

  :dev
  {:extra-paths ["dev", "test"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.27.4"}}}

  :test-clj
  {:extra-paths ["test"]
   :extra-deps  {com.cognitect/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                  :sha     "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
   :main-opts   ["-m" "cognitect.test-runner"]}

  :js-deps
  {:extra-deps {com.timetraveltoaster/target-bundle-libs {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "target-bundle-libs.core"]}

  :coverage
  {:extra-paths ["test"]
   :extra-deps  {cloverage/cloverage {:mvn/version "1.2.4"}}
   :main-opts   ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--output" "scanning_results/coverage"]}

  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "eastwood.lint" {:source-paths ["src"] :out "scanning_results/eastwood.out"}]}

  :ancient
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "antq.core"]}

  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.02.12"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "--config" ".clj-kondo/config.edn"]}}}
