{:deps {:aliases [:dev]}

 :builds
 {:node-test ; runs the cljs tests on node
  {:target           :node-test
   :output-to        "test/nodejs/node-tests.js"
   :autorun          true
   :compiler-options {:infer-externs true ; prevents "could not infer" compiler warnings
                      :optimizations :simple}}

  :browser-test ; runs the cljs tests in the browser via karma
  {:target           :karma
   :build-hooks      [(shadow.cljs.build-report/hook)]
   :compiler-options {:infer-externs true
                      :externs       ["sjcl-externs.js"]
                      :pseudo-names  true}
   :output-to        "test/browser/browser-tests.js"}}}
